<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <!-- <img alt="Brand" src="..."> -->
        <%= link_to "CritiquEat", root_path, class: "navbar-brand" %>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "#{ image_tag "https://api.adorable.io/avatars/"+current_user.name, size: "28x28", class:"avatar" } #{current_user.name.capitalize!}".html_safe, user_path(current_user.id) %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>
