
<h1>Welcome to Critique</h1>

<p>Show all reviews</p>

<% @reviews.each do |review| %>
  <pre><%= review.inspect %></pre>
<% end %>

<div class="col-xs-12 col-md-12">
  <% @reviews.each do |review| %>
  <div class="col-xs-4 col-md-4">
    <a href="/reviews/<%= review.id %>">
      <div class="card">
        <div class="crop">
          <%= image_tag review.image, class:"img-responsive center-block" %>
        </div>
        <div class="content">
          <h4><b><%=review.title%></b></h4>
          <p>by <%= review.user.name.capitalize %></p>
        </div>
      </div>
    </a>
  </div>
  <% end %>
</div>
