
<% if !current_user %>
<section class="jumbotron hero">
  <%= image_tag '/images/jumbotron.jpg' %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <h1>Welcome to CritiquEat</h1>
        <p><strong>CritiquEat</strong> is a platform where users can write, save, collaborate and organize their favorite food places.
Users can also create collections or follow Celebrity Critics to find out the good, the bad and the adventurous food places near you.</p>
        <p>
          <%= link_to "Join the Community!", new_user_registration_path, class: "btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>
</section>
<% end %>

<div class="row">
  <h1>Recent CritiquEat</h1>

  <div class="col-xs-12 col-md-12">
    <% @reviews.each do |review| %>
    <div class="col-xs-4 col-md-4">
      <a href="/reviews/<%= review.id %>">
        <div class="card">
          <div class="crop">
            <%= image_tag review.image, class:"img-responsive center-block" %>
          </div>
          <div class="content">
            <h4><b><%=review.title%></b></h4>
            <p>@ <%= review.address %></p>
            <p>by <%= review.user.name.capitalize %></p>
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
  <h1>Top Bookmarked CritiquEat</h1>
  <% @topbookmarkedcritiqueat.each do |critiqueat| %>

  <div class="col-xs-4 col-md-4">
    <a href="/reviews/<%= critiqueat.review.id %>">
      <div class="card">
        <div class="crop">
          <%= image_tag critiqueat.review.image, class:"img-responsive center-block" %>
        </div>
        <div class="content">
          <h4><b><%=critiqueat.review.title%></b></h4>
          <p>@ <%= critiqueat.review.address %></p>
          <p>by <%= critiqueat.review.user.name.capitalize %></p>
          <p><hr></p>
          <h5 class="text-center">Bookmarked <strong><%= critiqueat.count %></strong> <%= "#{ critiqueat.count == 1 ? "time" : "times" }" %> </h5>
        </div>
      </div>
    </a>
  </div>
  <% end %>
</div>

<div class="row">
  <h1>Top Bookmarked CritiquEater</h1>
  <% @topbookmarkedcritiqueater.each do |critiqueater| %>
    <div class="col-xs-4 col-md-4">
      <a href="/profile/<%= critiqueater.user.id %>">
        <div class="card">
          <div class="crop">
            <%= image_tag "https://api.adorable.io/avatars/"+critiqueater.user.name, size: "150x150", class:"avatar img-responsive center-block" %>
          </div>
          <div class="content text-center">
            <h2 class=""><b><%=critiqueater.user.name.capitalize%></b></h2>
            <% if critiqueater.user.bio %>
              <h4><%= critiqueater.user.bio %></h4>
            <% else %>
              <h4><%= critiqueater.user.name.capitalize %> has been part of CritiquEat since <%= critiqueater.user.created_at.strftime("%B %d, %Y") %>.<h4>
            <% end %>
            <hr>
            <h5>Bookmarked <strong><%= critiqueater.count %></strong> <%= "#{ critiqueater.count == 1 ? "time" : "times" }" %> </h5>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>
