
<pre><%= @review.inspect %></pre>

<div id="admin-panel">
  <%= render 'adminPanel' %>
</div>

<h1 class="text-center"><%= @review.title %></h1>

<%= image_tag @review.image, class:"img-responsive center-block img-rounded", id: "review-image" %>

<div class="row">

  <div class="attributes-panel col-xs-8 col-md-8 col-md-offset-2 col-xs-offset-2">
    <div class="col-xs-4 col-md-12 text-center">
      <h4>Price</h4>
      <div>
        <% 3.times do |i| %>
        <% if i < @review.price %>
        <%= image_tag '/images/money.png', class:"active"%>
        <% else %>
        <%= image_tag '/images/money.png'%>
        <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-4 col-md-12 text-center">
      <h4>Location</h4>
      <div>
        <% 3.times do |i| %>
        <% if i < @review.location %>
        <%= image_tag '/images/location.png', class:"active"%>
        <% else %>
        <%= image_tag '/images/location.png'%>
        <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-4 col-md-12 text-center">
      <h4>Taste</h4>
      <div>
        <% 3.times do |i| %>
        <% if i < @review.taste %>
        <%= image_tag '/images/smile.png', class:"active"%>
        <% else %>
        <%= image_tag '/images/smile.png'%>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="review-body col-xs-10 col-md-10 col-xs-offset-1 col-md-offset-1">
    <% @review.body.split(/[\r\n]+/).each do |text| %>
      <p> <%= text %> </p> <%#= @review.body %>
    <% end %>
  </div>
</div>

<% if @review.address %>
<div class="row">
  <div class="col-xs-10 col-md-10 col-xs-offset-1 col-md-offset-1">
    <iframe class="user-map z-depth-1" frameborder="0" style="border:0; width:100%; min-height:340px" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDfpHqOqlBlaM31dZVeR87p3Jwd-QWcnbM&q=<%=@review.address%>" allowfullscreen></iframe>
  </div>
</div>
<% end %>

<div class="row">
  <a href="<%= user_path(@review.user) %>">
  <div class="col-xs-6 col-md-6 col-xs-offset-3 col-md-offset-3">
    <h2>CritiquEater</h2>
    <div class="col-xs-4 col-md-4">
      <%= image_tag "https://api.adorable.io/avatars/"+@review.user.name, size: "150x150", class:"avatar img-responsive" %>
    </div>
    <div class="col-xs-8 col-md-8">
      <h4><%= @review.user.name.capitalize %></h4>
      <p>
        <% if !@review.user.bio %>
          <%= @review.user.name.capitalize %> has been part of CritiquEat since <%= @review.user.created_at.strftime("%B %d, %Y") %>.
        <% else %>
          <%= @review.user.bio %>
        <% end %>
      </p>
    </div>
  </div>
  </a>
</div>
